[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
colorama = "*"

[dev-packages]
jedi = "*"
pylint = "*"
flake8 = "*"
importlib-metadata = "<3"
black = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
