[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
colorama = "*"
pandas = "0.4.1"

[dev-packages]
jedi = "*"
pylint = "*"
flake8 = "*"
importlib-metadata = "<4"
black = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
